<% include partials/header.ejs %>

<div class="container-fluid text-center">

    <img src="https://cdn.pixabay.com/photo/2014/11/27/18/36/tent-548022_960_720.jpg"
        alt="mountain" style="width: 60vw;">

    <div class="container text-center pt-3">
        <header class="jumbotron">
        <h1>Welcome to the Camping Searcher!</h1>
        <a href="/campgrounds" style="font-size: 1.5em;"> View All Campgrounds</a>
    </header>
    </div>

</div>

<% include partials/footer.ejs %>