<% include partials/header.ejs %>

<div class="container text-center">
    <div class="row">
        <h1 class="text-center mx-auto pb-3">Sign Up</h1>
    </div>
    <div class="row text-center m-2">
        <div class="col-xs-10 col-md-8 col-lg-6 text-center mx-auto jumbotron signupbg bg-dark pb-3">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-row pb-3">
                    <div class="col">
                        <input class="form-control" type="text" name="firstName" placeholder="first name">
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="lastName" placeholder="last name">
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="avatar url">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </div>
            </form>
            <a class="text-light" href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>




<!-- <h1>Sign Up!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form> -->

<% include partials/footer.ejs %>
