<% include ../partials/header.ejs %>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-md-8 col-lg-6 text-center">
            <h1>Edit <%= campground.name %></h1>
                <div>
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <!-- the accept="image" below means that it won't allow anything but image files to be uploaded -->
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
                        </div>
                        <button class="btn btn-primary btn-block">Update!</button>
                    </form>
                </div>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>