body {
    background: whitesmoke;
}

.thumbnail img {
    width: 100%;
}

.img-thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.comments {
    background-color: rgb(235, 233, 233);
    border: 2px solid rgb(221, 221, 221)
}

.userCamps {
    list-style: none;
}

.userImg {
    max-width: 20vw;
    max-height: 30vh;
}